
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body{
    font-family: Poppins;
    background-color: black;
    color: white;
    margin: 0;
    font-size: 12px;
}

a{
    text-decoration: none;
}

header{
    width: 1140px;
    max-width: 80%;
    margin: auto;
    height: 50px;
    display: flex;
    align-items: center;
    position: relative;
    z-index: 100;
}

header a{
  margin-right: 40px;  
  color: white;
}

/* carousel */
.carousel{
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    margin-top: -50px;
    position: relative;
}

.carousel .list .item{
    width: 100%;
    height: 100%;
    position: absolute;
    /* it is the same as giving 0 to left, top, right and bottom  */
    inset: 0 0 0 0;
}

.carousel .list .item img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.carousel .list .item .content{
    position: absolute;
    top: 20%;
    width: 1140px;
    max-width: 80%;
    /* the below two line make the content center aligned, specially used in cases of absolute positioned elements  */
    left: 50%;
    transform: translateX(-50%);
    padding-right: 30%;
    /* includes the content, padding and border, the contenmt area is automatically adjustedd so widht remains exactly 65% */
    /* without this the width = 65% + padding-rigth = 30% would make the whole thing take a width of 95% */
    box-sizing: border-box;
    color: #fff;
    text-shadow: 0 5px 10px #000;
}

.carousel .list .item .content .author {
    font-weight: bold;
    letter-spacing: 6px;
    font-size: 1.5rem;
}

.carousel .list .item .content .author1{
    color: rgb(32, 8, 53);
}

.carousel .list .item .content .author2{
    color: rgba(255, 115, 0, 0.925);
}

.carousel .list .item .content .author3{
    color: rgb(124, 26, 204);
}

.carousel .list .item .content .author4{
    color: rgb(204, 26, 26);
}

.carousel .list .item .title,
.carousel .list .item .topic{
    font-weight: bold;
    font-size: 5em;
    /* line-height: 4rem; */
}

.carousel .list .item .des{
    /* font-weight: bold; */
    font-size: 1.2em;
}

.carousel .list .item .topic{
    color: #ff9705
}

.carousel .list .item .content .buttons{
    display: grid;
    grid-template-columns: repeat(2, 180px);
    grid-template-rows: 40px;
    gap: 10px;
    margin-top: 20px;
}

.carousel .list .item .content button:nth-child(1){
    border: 3px solid #ff9705;
    background-color: #ff9705;
    color: black;
    font-family: Poppins;
    font-weight: 800;
    letter-spacing: 4px;
    border-radius: 0.5rem;
    font-size: large;
}

.carousel .list .item .content button:nth-child(2){
    border: 3px solid #ff9705;
    background-color: transparent;
    color: #ff9705;
    font-family: Poppins;
    font-weight: 800;
    letter-spacing: 4px;
    border-radius: 0.5rem;
    font-size: large;
    text-shadow: 0 4px 6px #000
}

/* thumbnail */
.thumbnail{
    position: absolute;
    bottom: 50px;
    left: 50%;
    width: max-content;
    z-index: 100;
    display: flex;
    gap: 20px;
}

.thumbnail .item{
    width: 150px;
    height: 220px;
    /* flex-shrink is set to 0 so the item doesn't shrink on change in display size  */
    flex-shrink: 0;
    /* position is set to relative to allow the content in it to change position that is behave relatively to it */
    position: relative;
}

.thumbnail .item img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 20px;
}

.thumbnail .item .content{
    position: absolute;
    bottom: 10px;
    left: 10px;
    right: 10px;
}

.thumbnail .item .content .title{
    font-weight: bold;
}

.thumbnail .item .content .description{
    font-weight: 600;
    color: #ff9705;
    letter-spacing: 1px;
}

/* navigation arrows */
.arrows{
    position: absolute;
    top: 83%;
    right: 52%;
    width: 300px;
    max-width: 30%;
    display: flex;
    gap: 10px;
    align-items: center;
}

.arrows button{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #eee8;
    border: none;
    color: #fff;
    font-family: Poppins;
    font-weight: bold;
    transition: .5s;
    font-size: large;
    z-index: 100;
}

/* .arrows img{
    z-index: 100;
    width: 100%;
    height: 100%;
} */

.arrows button:hover{
    background-color: #ff9705;
}

.carousel .list .item:nth-child(1){
    z-index: 1;
}

.carousel .list .item:nth-child(1) .author,
.carousel .list .item:nth-child(1) .title,
.carousel .list .item:nth-child(1) .topic,
.carousel .list .item:nth-child(1) .des,
.carousel .list .item:nth-child(1) .buttons{
    transform: translateY(50px);
    filter: blur(20px);
    opacity: 0;
    animation: showContent 0.5s 1s linear 1 forwards;
}

@keyframes showContent{
    to{
        opacity: 1;
        filter: blur(0);
        transform: translateY(0);
    }
}

.carousel .list .item:nth-child(1) .title{
    animation-delay: 0.4s;
}

.carousel .list .item:nth-child(1) .topic{
    animation-delay: 0.8s;
}

.carousel .list .item:nth-child(1) .des,
.carousel .list .item:nth-child(1) .buttons{
    animation-delay: 1.2s;
}

/* image switching effect */

.carousel.next .list .item:nth-child(1) img{
    width: 150px;
    height: 220px;
    position: absolute;
    left: 50%;
    bottom: 50px;
    border-radius: 20px;
    animation: showImage 0.5s linear 1 forwards;
} 

@keyframes showImage{
    to{
        width: 100%;
        height: 100%;
        left: 0;
        bottom: 0;
        border-radius: 0;
    }
}

/* using nth last child enables adding any number of thumbnails and it will still afftect the last one  */
.carousel.next .thumbnail .item:nth-last-child(1){
    width: 0;
    overflow: hidden;
    animation: showThumbnail 0.5s linear 1 forwards;
}

@keyframes showThumbnail{
    to{
        width: 150px;
    }
}

.carousel.next .thumbnail{
    transform: translateX(150px);
    animation: transformThumbnail .5s linear 1 forwards;
}

@keyframes transformThumbnail{
    to{
        transform: translateX(0);
    }
}

.carousel.prev .list .item:nth-child(2){
    z-index: 2;
}

.carousel.prev .list .item:nth-child(2) img{
    position: absolute;
    bottom: 0;
    left:0;
    animation: outImage .5s linear 1 forwards;
}

@keyframes outImage{
    to{
        width: 150px;
        height: 220px;
        left: 50%;
        bottom: 50px;
        border-radius: 20px;
    }
}

.carousel.prev .thumbnail .item:nth-child(1){
    width: 0;
    overflow: hidden;
    opacity: 0;
    animation: showThumbnail 0.5s linear 1 forwards;
}

.carousel.prev .list .item:nth-child(2) .author,
.carousel.prev .list .item:nth-child(2) .title,
.carousel.prev .list .item:nth-child(2) .topic,
.carousel.prev .list .item:nth-child(2) .des,
.carousel.prev .list .item:nth-child(2) .buttons{
    animation: contentOut 0.5s linear forwards;
}

@keyframes contentOut{
    to{
        transform: translateY(-150px);
        filter: blur(20px);
        opacity: 0;
    }
}

/* to make sure the buttons are disabled throughout the animation process once the user clicks it  */
.carousel.next .arrows button,
.carousel.prev .arrows button{
    pointer-events: none ;
}

/* time duration bar  */
.time{
    width: 0%;
    height: 3px;
    background-color: #ff9705;
    position: absolute;
    z-index: 100;
    top: 0;
    left: 0;
}

.carousel.next .time,
.carousel.prev .time{
    width: 100%;
    animation: runningTime 10s linear 1 forwards;
}

@keyframes runningTime{
    to{
        width: 0;
    }
}

/* making it a bit responsive for phones  */
@media screen and (max-width: 678px){
    .carousel .list .item .content{
        padding-right: 0;
    }
    .carousel .list .item .content .title,
    .carousel .list .item .content .topic{
        font-size: 30px;
    }
}